:root {
	--background-colour: white;
	--text-colour: black;
	--reset-password-text-colour: #517191;
	--error-colour: red;
	--top-margin: 25vh;
}

#topbar, 
#preload,
#login_reg > div > ul li.name-entry label,
#login_login > div > ul li.name-entry label, 
#login_reg > div > ul li label[for="passwd_login"],
#login_login > div > ul li label[for="passwd_login"],
#login_reg > div > ul li:nth-child(3),
#login_login > div > ul li:nth-child(3)/*,
 #login_reg div .submit .throbber,
#login_login div .submit .throbber
#login_reg div .submit .status,
#login_login div .submit .status */{ 
	display: none;
}

.error {
	color: var(--error-colour);
}

.content {
	height: 100vh;
	width: 100vw;
}

#login_reg,
#login_login {
	border: none;
	border-radius: 0;
	font-family: Verdana;
	height: inherit;
	margin: 0;
	max-width: none;
	padding: 2vw;
	text-transform: capitalize;
}

#login_reg div,
#login_login div {
	margin-top: var(--top-margin);
}

/* #login_reg > div > ul li.name-entry,
#login_login > div > ul li.name-entry
#login_reg div .submit,
#login_login div .submit {
	align-items: center;
} */

#login_reg div .submit .button,
#login_login div .submit .button {
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	color: initial; 
	font-family: Verdana;
	text-transform: uppercase;
	text-shadow: none;
}

#login_reg > div > ul li.name-entry #user_login,
#login_login > div > ul li.name-entry #user_login,
#login_reg > div > ul li #passwd_login,
#login_login > div > ul li #passwd_login {
	border-left: none;
	border-radius: 0px;
	border-right: none;
	border-top: none;
}

#login_reg > div > ul li #passwd_login,
#login_login > div > ul li #passwd_login {
	margin-bottom: 15px;
}

/* 


*/