/* 
-----------------------------------------------------------------------------------------

I have deliberatly opted to not change upsells and marketing elements related to Guilded.
If you're reading this then I implore you to do the same.

Elements whitelisted by this philosiphy are as follows:
- ServerSubscriptionsSectionMemberUpsell-container

-----------------------------------------------------------------------------------------
*/

:root {
    --primary: #000000;
    --secondary: #ececee;
}

/* Eelements */

body {
    background-color: var(--primary);
}

/* Server List */

.NavV4Sidebar-container {
    background-color: var(--primary);
    border-right: 1px solid var(--secondary);
}

.NavV4SidebarFooter-container {
    background-color: var(--primary);
}

/* Legacy Server List */

.Navbar-container {
    background-color: var(--primary);
    border-top: 1px solid var(--secondary);
}

.Navbar-chat-items:after,
.NavbarUserControls-avatar:after {
    background: var(--secondary);
}

/* Short Server Bar And Channels Lists  Combined*/

.WebAppSidebar-container {
    border-right: 1px solid var(--secondary);
}

/* Short Server Bar */

.GroupSelector-container {
    background-color: var(--primary);
}

.NavV4BadgedItemIcons-item-category-has-items:first-child {
    border-top: 1px solid var(--secondary);
}

/* Channels Lists */

.TeamNavHeader-content {
    border-bottom: 1px solid var(--secondary);
    border-left: 1px solid var(--secondary); 
}

.TeamNavMenu-container {
    background-color: var(--primary);
    border-right: 1px solid var(--secondary);
    border-left: 1px solid var(--secondary);
}

.NavV4Footer-footer-content {
    background-color: var(--primary);
}

.ChatChannelList-container {
    background-color: var(--primary);
}

.NavV4FooterGlobalContextDisplay-teams-wrapper {
    background-color: var(--primary);
    border-top: 1px solid var(--secondary);
}

.NavV4Footer-right {
    background-color: var(--primary);
    border-top: 1px solid var(--secondary);
    border-left: 1px solid var(--secondary);
}

/* Context Menues */

.ContextMenu-content {
    background-color: var(--primary);
}

.QuickActionBar-container {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
    border-top: 1px solid var(--secondary);
}

.QuickActionBar-action-separator:before,
.QuickActionBar-action-separator-right:before {
    background-color: var(--secondary);
}

.ChannelHeaderMoreOptionsMenu-container {
    background-color: var(--primary);
}

.SelectMenu-container {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

.SelectMenuItem-container-selected {
    background-color: var(--primary);
    border-top: 1px solid var(--secondary);
    border-bottom: 1px solid var(--secondary);
}

.DayPicker-container {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

.DayPicker-header {
    background-color: var(--primary);
    border-bottom: 1px solid var(--secondary);
}

.DayPicker-day-selected .DayPicker-day-contents {
    background-color: var(--secondary);
}

.DayPicker-container-desktop .DayPicker-day:hover .DayPicker-day-contents {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
    border-radius: 100%;
    color: var(--secondary);
}

.ActionMenu-container {
    border: 1px solid var(--secondary);
}

.ActionMenu-section:not(:first-child) {
    border-top: 1px solid var(--secondary);
}

.ProfileHoverCardOverlay-container {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

.ActionBubbleButton-icon-container {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
    fill: var(--secondary)
}

.FilterWrapper-container {
    background-color: var(--primary);
}

/* Sections Stuff */

.TeamOverviewContentItemCard-container {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

.TeamApplicationInlineLink-container  {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

.ServerSubscriptionsRecentActivityItems-container {
    background-color: var(--primary);
}

.ServerSubscriptionsRecentActivityItem-container {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

/* Chat Header */

.ScreenHeader-container {
    background-color: var(--primary);
    border-bottom: 1px solid var(--secondary);
}

.ChatChannelInputStatusBar-container {
    background-color: var(--primary);
    border-top: 1px solid var(--secondary);
    border-right: 1px solid var(--secondary);
    border-left: 1px solid var(--secondary);
}

/* Chat Centers */

.NullStateV2-container {
    background-color: var(--primary);
}

.TeamPageContent-container {
    background-color: var(--primary);
}

.ChatSummary-container {
    background-color: var(--primary);
}

.ChannelWrapper-container {
    background-color: var(--primary);
}

.OpenGraphEmbed-content {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

.VoiceChannelDisplay-container-child {
    background-color: var(--primary);
}

.StreamChannelDisplay-container {
    background-color: var(--primary);
}

.StreamPlayerPlaceholder-background {
    border: 10px solid var(--secondary);
}

/* Chat Data */

.ChatV2MessageContents-container-highlighted .ParagraphRenderer {
    background-color: rgba(248,214,76,.07);
}

.ModalHeaderV2-container {
    background-color: var(--primary);
    border-bottom: 1px solid var(--secondary);
}

.ModalV2-container {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

.Animatable-container {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

.UpcomingCalendarDay-container {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

/* .MarkRenderer-read-only:not([class~="MarkRenderer-italic"]),
.MarkRenderer-read-only:not([class~="MarkRenderer-underline"]),
.MarkRenderer-read-only:not([class~="MarkRenderer-bold"]),
.MarkRenderer-read-only:not([class~="MarkRenderer-strikethrough"]),
.MarkRenderer-read-only:not([class~="MarkRenderer-inline-code-v2"]) */

.MarkRenderer-read-only {
    background-color: var(--primary);
}

.SpoilerRenderer-container{
    background-color: var(--primary);
    color: #ececee;
}

.SpoilerRenderer-read-only {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    color: rgba(236,236,238,0);
}

.SpoilerRenderer-read-only.SpoilerRenderer-has-revealed {
    animation-name: fade-out-text;
    animation-duration: 300ms;
    animation-delay: 10ms;
    animation-fill-mode: forwards;
    color: #ececee
}

@keyframes fade-out-text {
    0% {
        border: none;
        color: rgba(236,236,238,0);
    }
    5% {
        border: none;
        color: rgba(236,236,238,0);
    }
    100% {
        border: 1px solid var(--secondary);
        color: #ececee;
    }
}

.SpoilerRenderer-read-only.SpoilerRenderer-revealed {
    animation-name: fade-in-text;
    animation-duration: 300ms;
    animation-delay: 10ms;
    animation-fill-mode: forwards;
    color: rgba(236,236,238,0);
}

@keyframes fade-in-text {
    0% {
        border: 1px solid var(--secondary);
        color: #ececee;
    }
    5% {
        border: 1px solid var(--secondary);
        color: #ececee;
    }
    100% {
        border: none;
        color: rgba(236,236,238,0);
    }
}

.ChatEmbed-body {
    background-color: var(--primary);
    border-top: 1px solid calc(var(--secondary) - 75%);
    border-bottom: 1px solid calc(var(--secondary) - 75%);
    border-left: 1px solid calc(var(--secondary) - 75%);
}

.TeamEmbedCard-container {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

.ChatChannelListItem-container {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

.WordDividerLine-line {
    background-color: var(--secondary);
}

/* Input Boxes */

.DraftInputWithTitleV2-title-wrapper {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

.ChatV2Message-container:hover {
    border-top: 1px solid var(--secondary);
    border-bottom: 1px solid var(--secondary);
}

.ChatV2Message-container:not(.ChatV2Message-container-editing):hover {
    background-color: inherit;
}

.SlateTypeaheadMenuHeader-container {
    background-color: var(--primary);
}

/* Leaving this off for now. May enable it again in future.
.SlateEditorContext-container {
    background-color: var(--primary);
} */

.MenuItemEnabled-container-highlighted {
    background-color: none !important;
    border: 1px solid var(--secondary);
}

.EditorV2Display-container-wrapper,
.ChatChannelInput-container .ChatChannelInput-editor {
    border-color: var(--secondary)
}

/* Not sure if this selector is still in use;
 but I'm going to keep this here for legacy. */
.Editor-container {
    border-color: var(--secondary);
}

.EditorV2Context-container {
    background-color: var(--primary);
}

.EditorV2InsertToolbar-container:after {
    background: var(--secondary);
}

.ChatV2MessageContents-editor {
    border: 1px solid var(--secondary);
}

.SlateToolbarStrip {
    border-right: 1px solid var(--secondary);
    border-left: 1px solid var(--secondary);
}

.SlateToolbarStrip-iconGroup:not(:last-child) {
    border-right: 1px solid var(--secondary) !important;
}

.SlateToolbarStrip-iconGroup:last-child {
    border-right: 1px solid var(--secondary);
}

.SlateToolbarStrip {
    border-right: 1px solid var(--secondary);
    border-left: 1px solid var(--secondary);
}

.SlateEditorContext-container + div + .SlateToolbarStrip {
    border-top: 1px solid var(--secondary);
    border-bottom: 1px solid var(--secondary);
}

.SlateEditor-editor.SlateEditor-editor-expanded {
    border-right: 1px solid var(--secondary);
    border-left: 1px solid var(--secondary);
}

.RichTextComposer-controls {
    border-right: 1px solid var(--secondary);
    border-bottom: 1px solid var(--secondary);
    border-left: 1px solid var(--secondary);
}

.TypeaheadDrawer-container {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

.PageSidebar-container {
    background-color: var(--primary);
    border-left: 1px solid var(--secondary);
}

.SearchBarV2-container,
.SearchBarV2-container.SearchBarV2-container-focused {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

.SearchBarInput-container {
    border: 1px solid var(--secondary);
}

.ReactionPicker-content {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

.ReactionPicker-content {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

.ItemPickerNavbar-container {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

.ReactionPickerFooter-container{
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

/* User Profile */

.UserProfileNavHeader-container {
    border-bottom: 1px solid var(--secondary);
}

.WebAppSidebar-container {
    background-color: var(--primary);
}

.NavV4SectionSidebar-container {
    background-color: var(--primary);
}

.UserProfileV3-container-thick-scrollbar {
    background-color: var(--primary);
}

/* Calendar Channels */

.FullSizedCalendarWeekdayHeader-container {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

.FullSizedCalendarDay-container {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

.FullSizedCalendarDay-container-desktop.FullSizedCalendarDay-container-can-create:hover {
    background-color: var(--primary);
}

.FullSizedCalendarDay-container-desktop .FullSizedCalendarDay-new-event-icon {
    transition: none;
}

.FullSizedCalendarDay-container-desktop.FullSizedCalendarDay-container-can-create:not(.FullSizedCalendarDay-container-today):hover .FullSizedCalendarDayHeader-date {
    border: 1px solid var(--secondary);
    border-radius: 100%;
    opacity: 1;
}

.FullSizedCalendarDay-container-desktop.FullSizedCalendarDay-container-can-create.FullSizedCalendarDay-container-today .FullSizedCalendarDayHeader-date::after {
    content: " - Today";
    color: var(--secondary);
    position: relative;
    left: 30px;
    top: -25px;
    height: 0px;
    width: 50px;
    display: none;
}

.FullSizedCalendarDay-container-desktop.FullSizedCalendarDay-container-can-create.FullSizedCalendarDay-container-today:hover .FullSizedCalendarDayHeader-date::after {
    display: block;
}

.FullSizedCalendarDayHeader-date-today {
    background-color: var(--secondary);
}

/* Scheduling Channels */

.SchedulingChannel-container {
    background-color: var(--primary);
}

.AvailabilityDisplay-container {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

.AvailabilityDisplayHeader-day {
    background-color: var(--primary);
    border-right: 1px solid var(--secondary);
    border-left: 1px solid var(--secondary);
}

.AvailabilityDisplayHeader-button {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

.AvailabilityDay-container {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

.AvailabilityDayHour-hover {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

.CreateAvailabilityControl-intervals:hover {
    border-right: 1px dashed var(--secondary);
    transition: border .35s ease-in-out;
}

/* Annoucements Channels */

.PostDisplayV2-container {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

/* Forums Channels */

.TeamPostRow-container {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

.TeamThreadPostPanelDisplay-container {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

.TeamThreadPostEditor-container  {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

/* List Channels */

.TeamListItemWrapper-container {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

/* Docs Channels */

.DocDisplayItem-container {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

.DocSummaryInfo-container {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

/* Media Channels */

.MediaDisplayItemV3-container {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

.MediaDisplayItemV3-meta-info-wrapper {
    border-top: 1px solid var(--secondary);
}

.MediaSplitView-media {
    background-color: var(--primary);
    border-right: 1px solid var(--secondary);
}

.MediaInfoPane-container {
    background-color: var(--primary);
}

.TagDisplayItemV2-container {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

/* Right Side Bars */

.TeamPageSidebarMembersV2-container,
.SidebarInfoItem-container {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
}

/* Options Menues */

.SettingsOverlay-container {
    background-color: var(--primary);
}

.OptionsMenu-container-desktop .OptionsMenu-options-control {
    background-color: var(--primary);
}
.OptionsMenu-options-control {
    background-color: var(--primary);
    border-right: 1px solid var(--secondary);
    border-left: 1px solid var(--secondary);
    margin-left: 25vw
}

.OptionsMenuPageWrapper-container {
    background-color: var(--primary);
    border-right: 1px solid var(--secondary);
    width: 40vw !important;
}