/* ELEMENTS */

/* IDS */

#main-spread {
    height: 69.5vh;
    width: 100%; /*80VW*/
}

#shoutbox-form {
    height: 69.5vh;
}

#shoutbox-output {
    height: 69.5vh;
    width: 100%; /*49VW*/
}

/* CLASSES */

.is-fixed {
    position: fixed;
}

/* OTHER */

/* MOBILE */