/* ELEMENTS */

a {
    text-decoration: underline;     
}

/* IDS */

#main-spread {
    height: 69.5vh;
    width: 100%; /*80VW*/
}

#hostBanner {
    position: fixed;
    top: 0px;
    left: 0px;
    transform: rotate(-90deg);
}

/* CLASSES */

.is-fixed {
    position: fixed;
}

.has-text-blurple {
    color: #7289DA;
}

.has-text-greyple {
    color: #99AAB5;
}

.has-text-orangered {
    color: #FF4500;
}

.ocg-icons {
    -webkit-transition: filter 250ms ease-in-out;
    -moz-transition: filter 250ms ease-in-out;
    -o-transition: filter 250ms ease-in-out;
    transition: filter 250ms ease-in-out;
}

.ocg-icons:hover {
    filter:blur(50px);
}

/* OTHER */

/* MOBILE */

@media only screen and (max-width: 768px) {
    #hostBanner {
        position: fixed;
        top: -32px;
        left: -32px;
        transform: rotate(-90deg) scale(0.5);
    }
}